version: '3.4'

services:
  postgres:
    image: postgres
    shm_size: '4gb'
    container_name: confab.postgres.main
    restart: unless-stopped
    environment:
        - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
        - 5432:5432
    volumes:
        - postgres:/var/lib/postgresql/data

  confab.bootstrapper:
    image: ${DOCKER_REGISTRY-}confabbootstrapper
    container_name: confab.bootstrapper.main
    build:
      context: .
      dockerfile: src/Bootstrapper/Confab.Bootstrapper/Dockerfile

volumes:
    postgres:
        driver: local